<%- model_class = Contact -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>

 Bulk add multiple influencers using CSV template.

Step 1

Download template
Fill in the relevant columns and save it somewhere on your computer.

Step 2

Choose a list
to add these Influencers to?

Select List

or Create new list
Step 3


Upload your file
(add up to 100 influencers at a time)   
